/* Home */
body{
  margin-left: 100px;
}

.navbar {
  overflow: hidden;
  /* background-color: #333; */
  position: fixed;
  width: 1500px;
  margin-left: -100px;
  background-color: rgb(235, 231, 231);
  margin-top: -8px;
}

.navbar a {
  float: left;
  display: block;
  color: rgb(151, 148, 148);
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'gt_super_display_trial_reguRg';
}

.menu1 a:hover {
  color: #edc28f;
}

.menu2 a:hover {
  color: #84c2a9;
}

.menu3 a:hover {
  color: #d98d80;
}

.menu4 a:hover {
  color: #a4d2da;
}


#about{
  margin-left: 5%;
}

#share{
  margin-left: 2%;
}

#create{
  margin-left: 2%;
}

#buy{
  margin-left: 2%;
}

.parallax {
  /* The image used */
  background-image: url("pause_5.gif");

  /* Set a specific height */
  min-height: 830px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1500px;
  margin-left: -100px;
}

#parallaxspace{
margin-top: 85px;
}

.intro{
    font-family: 'gt_super_display_trial_reguRg';
    /* margin-top: 45%; */
    margin-bottom: 25%;
    /* max-width: 40%; */
    line-height: 30px;
    margin-left: 18%;
    font-size: 20px;
}


#circle  {
  /* text-align: right;     */
   /* margin: 100 0 0 15px; */
   margin-top: -120px;
   float: right;
   margin-right: 5%;
  }

  .parawidth{
      max-width: 45%;
      max-height: 350px;
  }
  
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .intro{
    font-size: 18px;
    margin-left: -20px;
    text-align: left;
    line-height: 25px;
    }
    .parawidth{
      max-width: 100%;
      margin-bottom: 35%;
      margin-left: -20px;
    }
    .navbar{
      font-size: 25px;
      margin-left: -100px;
      overflow: hidden;
      position: fixed;
      width: 900px; 
    }
    #parallaxspace{
      margin-top: 0px;
      }
    #circle{
        display: none;
      }
